.cells .inputs {
    float: right;
}
.cells .inputs table th {
    padding:0em 2.5em 0em 0em;
}
.cells .inputs table td {
    padding:0em 2em 0.25em 0em;
}
.cells .inputs .section {
    margin-bottom: 0.25em;
}
.cells .inputs .section #time-text{
    width: 4em;
}
.cells .inputs .section #alive-chance-text{
    width: 4em;
}
canvas {
    width: 512px;
    height: 512px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
@media screen and (max-width: 562px) {
    canvas {
        width: 256px;
        height: 256px;
    }
}
