/*basic stuff*/
body, input, button {
    font: 1.25em/1.5 sans-serif;
}
body {
    margin: 2em auto;
    padding: 0 1em;
    max-width: 50em;
}
h1, h2, h3 {
    line-height: 1.5;
}
button {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}
button:disabled {
    background-color: silver;
}
button:enabled:hover {
    background-color: #D31C3E;
}

/*top navigation bar*/
ul.topnav {
    font: 2em/2 sans-serif;
    margin: 0;
    padding: 0;
    max-width: none;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}
ul.topnav li {
    float: left;
}
ul.topnav li a {
    padding: 0em 0.5em;
    display: block;
    color: white;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
    background-color: #D31C3E;
}
ul.topnav li a.active {
    background-color: #E41339;
}
ul.topnav li.right {
    float: right;
}
@media screen and (max-width: 600px) {
    ul.topnav li.right, ul.topnav li {
        float: none;
    }
    body {
        max-width: none;
    }
}

/*centered*/
.four-oh-four, .numbers {
    text-align: center;
}

/*roller*/
.numbers {
    font: 15em/1.25 sans-serif;
}

/*print*/
@media print {
    body {
        max-width: none;
    }
}
